@import "../_main"; 

.dropdown-wrapper{
	display: none;
	position: absolute;
	padding-top: 10px;
	background-color: $c-white;
	border-bottom: 1px solid #CCC;
	
	.dropdown-inner-box{
		position: relative;
		>ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				padding: 10px 15px;
				&.active{
					background-color: #F5F5F5;
				}
				&:hover{
					background-color: #F4F4F4;
				}
			}
		}
		.search-direction{
			
		}
		.suggestion-items{
			
		}
	}
}
.input-search-box {
	display: block;
	position: relative;
	margin: auto;
	max-width: 815px;
	height: 50px;
	.input-text-box{
		height: inherit;
		position: absolute;
		right: 100px;
	    left: 0;
		.search-field-wrapper {
			width: 100%;
	    	height: inherit;
	    	padding: 10px 7% 10px 20px;
	    	font-size: 15px;
	    	color: #555555;
	    	border: none;
	    	background-color: $c-white;
	    	cursor: text;
			-webkit-border-radius: 5px 0 0 5px;
                    border-radius: 5px 0 0 5px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			
			&.drop-down-active{
				-webkit-border-radius: 5px 0 0 0;
                    	border-radius: 5px 0 0 0;
			}
			&.loading-active{
				background-image: url(/img/activity-anim-40.gif);
				background-position: 97% 50%;
				background-repeat: no-repeat;
				-webkit-background-size: 20px;
				        background-size: 20px;
			}
			.item{
				float: left;
				position: relative;
				padding: 7px 25px 7px 5px;
				margin: 0 5px 5px; 
				border: 1px solid #ccc;
				background-color: $body-bg-color; 
				cursor: default;
				line-height: $f-size-01;
				-webkit-border-radius: 3px; 
						border-radius: 3px; 
				
				.close-btn{
					position: absolute;
					top: 8px;
					right: 5px; 
					width: 10px;
					height: 10px;
					cursor: pointer;
					background-color: $c-grey; 
					-webkit-border-radius: 1em;
                    		border-radius: 1em;
				}
			}
			.search-field{
				float: left;
				padding: 5px;
				margin-left: 10px;
				border: none;
				background-color: transparent; 
				line-height: 18px;
			}
		}	
	}
    .submit-search {
		position: absolute;
    	right: 0px;
		height: inherit;
		width: 100px;
		background: url(/img/magnf.png) no-repeat #8c8c8c center;
		border: 1px solid #8C8C8C;
		border-left: none;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius:0 5px 5px 0;
                border-radius:0 5px 5px 0;
	}
}