@import "../_main";
.main-search-result-box{
	padding: 10px;
	
	.hidden{
		display: none !important;
	}
	
	.search-inner-box{
		width: 100%;
		display: table;
	}
	.column-wrapper{
		display: table-cell;
		
		.one-item-wrapper{
			width: 260px;
			margin: 15px auto 25px;
			background-color: $c-white;
			color: $f-color-01;
			border: 1px solid $c-lite-grey-border;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
			-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

			.img-box{
				min-height: 125px;
				overflow: hidden;
				background-image: url(/img/activity-anim-40.gif);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				-webkit-border-radius: 10px 10px 0 0;
			        	border-radius: 10px 10px 0 0;
				-webkit-background-size: 20px;
				        background-size: 20px;
				img{
					width: 100%; 
				}
			}
			.item-title{
				padding: 0 10px;
				font-size: $f-size-03;
			}
			.descr-wrapper{
				padding: 10px;
				border-top: 1px solid $c-lite-grey;
				color: $f-color-02;
				font-size: $f-size-02;	
				-webkit-border-radius: 0 0 10px 10px;
			        	border-radius: 0 0 10px 10px;
			}
		}
	}
}
