
$f-color-01: #333;
$f-color-02: #666;
$f-color-03: #999;

$f-size-01: 13px;
$f-size-02: 14px;
$f-size-03: 16px;

//default color
$c-white: #FFF;
$c-lite-grey: #F5F5F5;
$c-lite-grey-border: #E6E6E6;
$c-grey: #CCC;

//main colors
$body-bg-color: #F5F5F5;
$footer-bg-color: #131313;
$search-bg-color: #dcdcdc;